body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fcfcfc;
  font-size: 16px;
  line-height: 1.5;
  font-weight: medium;
}

header {
  background-color: #ffffff;
}

.logo-nav {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  line-height: 1.16667;
  font-weight: bold;
}

span {
  color: #4d5ae5;
}

.menu-nav {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
}

.text-contacts {
  font-weight: regular;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

a :hover {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: bold;
}
button {
  background-color: #4d5ae5;
  cursor: pointer;
}

button :hover {
  background-color: #404bbf;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.sec-friend {
  background-color: #fcfcfc;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.third-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.fourth-chapter {
  background-color: #e7e9fc;
}

.portfolio {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16667;
  color: #f4f4fd;
}
