body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.header {
  background-color: #ffffff;
}

.header-nav-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-span {
  color: #2e2f42;
}

.menu-nav-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

.contacts-item-link {
  color: #434455;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-nav .menu-nav-link:hover,
.menu-nav .menu-nav-link:focus {
  color: #404bbf;
}

.contacts .contacts-item-link:hover,
.contacts .contacts-item-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button-text {
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
}

.hero .hero-button-text:hover,
.hero .hero-button-text:focus {
  background-color: #404bbf;
}

.sec-friend {
  background-color: #fcfcfc;
}

.sec-friend-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.sec-friend-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-friend-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section {
  background-color: #f4f4fd;
}

.list-card {
  background-color: #ffffff;
}

.third-section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.third-section-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.third-section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.fourth-chapter {
  background-color: #ffffff;
}
.fourth-chapter-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.fourth-chapter-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.fourth-chapter-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.foot {
  background-color: #2e2f42;
}

.foot-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot-span {
  color: #f4f4fd;
}

.foot-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}
