body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

header {
  background-color: #ffffff;
}

.logo-nav {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-span {
  color: #2e2f42;
}

.menu-nav {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-contacts {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  font-style: normal;
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: #404bbf;
}

.text-contacts .link:hover,
.text-contacts .link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}
button {
  background-color: #4d5ae5;
  cursor: pointer;
}

.button-text :hover,
.button-text :focus {
  background-color: #404bbf;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
}

.sec-friend {
  background-color: #fcfcfc;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.third-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.fourth-chapter {
  background-color: #e7e9fc;
}

.portfolio {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.foot-span {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
